#overlay {
    width: 100%;
    height: 100%;
    background-size: 100%
}

body{
    background-color: black;
    background: url("../resource/main_background.jpg");
    background-position: center;
    background-size: cover;
}

.display-4, h2{
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
}

h5{
    color: #0093FF;
    text-align: center;
}

.container-fluid{
    margin-top: 10%;
}

.menu{
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 30px;
    text-align: center;
    font-size: 1.2em;
    width: 150px;
    height: 50px;
    color: white;
    margin: 10px;
}

#menu_tags .row{
    padding: 5px;
}

.center{
    margin: auto;
}

/*#menu_tags .row{*/
    /*display: inline-block;*/
/*}*/

#finish_view button{
    background-color: #0093FF;
    border: transparent;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
}

#finish_view{
    margin-top: 2%;
}

#finish_button:hover{
    background-color: #00C6FF;
}

.menu:hover{
    background-color: #0093FF;
    border-color: transparent;
}
.menu:focus, #finish_button:focus{
    outline: 0;
}


footer{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}


