.row{
    height: 100%;
}
#map {
    height: 100%;
    width: 100%;
}

#map_view{
    padding: 0;
}

#detail_view{
    padding: 0;
}

#detail_view_row {
    min-height: 100vh;
}

.black-background{
    background-color: black;
}

#detail_view_row{
    background-color: black;
}

#detail_title{
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    /*font-size: 5em;*/
}

#detail_eng_title{
    color: white;
}
#detail_address{
    color: #0093FF;
}

.white-text{
    color: white;
}

.blue-text{
    color: #0093FF;
}


#detail_img{
    width: 100%;
    position: relative;
}
#detail_img > #carousel img{
    width: 100%;
    height: 100%;
}

#overlay-title{
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}

#overlay-title > h1{
    padding-left: 20px;
    line-height: 0.9em;
}

#detail_title_view{
    margin-top: 30px;
}

#detail_img{
    height: 35%;
}

#detail{
    padding-left: 20px;
    padding-right: 20px;
}

.carousel{
    height: 100%;
}
.carousel-inner, .carousel-item, .carousel-item > img{
    height: inherit;
}

#additional_info{
    margin-top: 10%;
}

#test{
    padding: auto;
}

#menu_tags{
    margin-right: 25%;
    margin-left: 25%;
}